.profile-page {
  width: 100%;
  
  
  padding: 20px;
  
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 9%;
}
.momo{
  background-color: lightgray;
  height: 2vw;
}
.profile-header img {
  border-radius: 50%;
}

.profile-form {
  display: flex;
 flex-direction: row-reverse;

}
#class-categories{
  resize: none;
  height: 8vw;
  background-color: lightgray;
}
#about{
  resize: none;
  height: 14.5vw;
  width: auto;
  background-color: lightgray;
}

.left-section,
.right-section {
  display: flex;
  flex-direction: column;
  width: 48vw;
}

.left-section {
  margin-top: 5%;
 padding-right: 15vw;
}

.right-section {
  padding-left: 10%;
margin-right: 50px;
margin-top: 31px;
}

.profile-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
}

.profile-form input,
.profile-form textarea,
.profile-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.pricing {
  margin-top: 20px;
  background-color: lightgray;
  padding: 10px;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  height: 10vw;
}

.pricing h3 {
  margin-bottom: 10px;
  
}

.pricing ul {
  list-style: none;
  padding: 0;
}

.pricing li {
  margin-bottom: 10px;
}

.profile-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  clear: both;
}

.profile-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f0ad4e;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.profile-buttons button:hover {
  background-color: #ec971f;
}

#dob {
    width: 255px;
    margin-right: -15px;
    height: 30.2px;
}

#pricing {
  resize: none;
  height: 5.5vw;
  width: auto;
  background-color: lightgray;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#profpic{
  height: 25.7vh;
}

#wrapper{
  display: grid;
  grid-template-columns: 70% 30%;
}

.pricing_spacing1{
  line-height: 25px;
  margin-left: 10px;
}

.pricing_spacing2{
  line-height: 25px;
  margin-left: 10px;
  border-left: 2px solid #acacac;
}

span{
  margin-left: 10px;
}